.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background: #111827;
  color: white;

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button,
  select {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  button {
    background: #2563eb;
    color: white;
  }
}